.btn {
    background-color: rgba(79, 79, 79, 0.9);
    color: #ffffff;
    display: inline-block;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 20px;
}
.btn:hover{
    background-color: rgba(54, 54, 54, 09);
    transition: ease .5s, all;
}

 